.grid {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 50%;
    margin: auto;
    font-family: sans-serif;
}
.grid > span {
    padding: 15px 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
button{
    text-align: center;
    margin: auto;
    display: flex;
}

